[submodule "roles/common"]
	path = roles/common
	url = git@github.com:timmd909/izanagi-role-common.git
[submodule "roles/sync-server"]
	path = roles/sync-server
	url = git@github.com:timmd909/izanagi-role-sync-server.git
[submodule "roles/motion-server"]
	path = roles/motion-server
	url = git@github.com:timmd909/izanagi-role-motion-server.git
[submodule "roles/plex-server"]
	path = roles/plex-server
	url = git@github.com:timmd909/izanagi-role-plex-server.git
