[submodule "roles/common"]
	path = roles/common
	url = git@github.com:timmd909/izanagi-role-common.git
[submodule "roles/sync-server"]
	path = roles/sync-server
	url = git@github.com:timmd909/izanagi-role-sync-server.git
